<% content_for :body_class, 'admin set' %>
<%= render 'header' %>
<% flash.each do |key, value| %>
  		<%= content_tag(:div, value, :class => "flash #{key}") %>
	<% end %>
<div id="admin_actions">
</div>
<div id="thumb_container" data-update-url="<%= save_order_photosets_path %>">
	<h2>Sets:</h2>
	<% unless @photosets.empty? %>
		<%= render :partial => 'admin/photoset', :collection => @photosets %>
	<% else %>
		<p>No photosets to show.</p>
	<% end %>
</div>
<div id="thumb_container">
    <% unless not_imported_sets.empty? %>
	    <h2>Not imported sets:</h2>
    	<%= render :partial => 'admin/not_imported_set', :collection => not_imported_sets %>
    <% end %>
</div>