<% content_for :header do %>
	<%= javascript_include_tag 'admin.js' %>
    <%= stylesheet_link_tag 'admin.css' %>
<% end %>
<% content_for :body_class, 'admin blog' %>
<%= render 'admin/header' %>

<% flash.each do |key, value| %>
	<%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
<div id="admin_actions">
   <%= link_to "New Post", :new_admin_post, :class => "btn small" %>
</div>
<div id="posts_container">
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Posted at</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
	<%= render :partial => 'post_row', :collection => @posts %>
  </tbody>
</table>
</div>