<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
	<title><%= title %></title>
	<meta name="description" content="" />
  	<meta name="keywords" content="" />
	<meta name="robots" content="" />

	<%= stylesheet_link_tag 'application.css' %>
    <%= javascript_include_tag 'application.js' %>
    <%= yield :header %>

    <%= csrf_meta_tags %>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27910911-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body class="<%= yield :body_class %>">
<%= auto_discovery_link_tag :atom, "/feed" %>
<%= auto_discovery_link_tag :rss, "/feed.rss" %>
<div id="container">
<%= yield %>
</div>
<%= debug(params) if Rails.env.development? %>

</body>
</html>